pipeline/pl_metadatadriven_product_ingestion.json
{
	"name": "pl_metadatadriven_product_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Get File Metadata product",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SalesLTproduct_sql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata product",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata product').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_product",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SalesLTproduct_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_product_md_pl_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File Metadata address",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SalesLTaddress_sql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition 2",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata address').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_address",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SalesLTaddress_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_address_md_pl_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File Metadata order details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SalesLTorders_sql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition 3",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata order details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata order details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_order_details",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SalesLTaddress_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_orderdetail_md_pl_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File Metadata order header",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SalesLTorderHeader_sql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition 4",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata order header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata order header').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_order_header",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SalesLTorderHeader_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_orderheader_md_pl_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File Metadata customer",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SalesLTcustomer_sql",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition 5",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get File Metadata customer').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "copy_customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SalesLTcustomer_sql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_customer_md_pl_dl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Metadeta driven pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-14T07:42:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}